@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Begins */

body {
    margin-left: 3rem;
}

.nav-container .logo {
    font-size: 1.5rem;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.nav-container {
    margin: 2em;  
    display: flex; 

}

.nav-container header svg {
    width: 160px;

}

.nav-container nav ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-right: 2em;
    
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    color: #000000;
   
}

.nav-container nav ul li {
   min-width: 80px;
   
   
   

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    
}

.hero {
    
    margin: 0.5em 2em 2em 2em;
}

.content {
        display: flex;
        
        min-width: 320px;
        
        font-weight: 600;
        flex-direction: column;
        font-size: 2em;
       /* align-items: center; */
        line-height: 1.5em;
        font-family: 'Poppins', sans-serif;
}

.content h1 {
    margin-top: 2em;
    font-size:;
    ;
}
    
.content p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4em;
    max-width: 50%;
    margin-top: 1em;
}

.content .content-highlight {
    font-weight: 550;
    color: #DA1010;
    font-size: 20px;
    background-color: aliceblue;
}


.project-area .project-title {
    font-weight: 550;
    font-size: 1.2em;
    margin: 7em 0 1.5em 0;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    max-width: 172px;
}

.thumbnail-grid-item {
    
    padding: 0;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    background: #FAFAFA;
    box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    width: 360px;
    height: 380px;
    position: relative;
    margin-bottom: 1.6em;
}

.picture img {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 60%;

    
}


.card-area {
    text-align:left;
    position: absolute;
    top: 66%;
    margin-left: 28px;
    margin-right: 28px;
}

.card-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #30362F;
    margin-bottom: 0.8em;
    font-family: 'Poppins', sans-serif;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color:#30362F;
    line-height: 1.4em;
    font-weight: 400;
}

.card-label {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: #30362F;
    font-weight: 550;
    margin-top: 1.5em;
    padding: 10px;
    border-radius: 6px;
    margin-bottom:30%;
    

}

.card-body {
    min-height: 500px ;
}
.card-subtitle {
    color: #616161b6;
    font-size: 0.9em;
    margin-bottom: 1.8em;
     font-weight:500;
}

.card-content {
    font-weight: 50;
    font-size: 1em;
    color: #30362F;
    line-height: 1.4em;
}

.thumbnail-grid li {
    display: block;
}

.about-header {
    font-size: 1em;
    color: #30362F;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5em;
    font-weight: 550;
}

.about {
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

footer {
    padding: 2em 0 0 0;
    margin: 2 auto;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.footer-content {
    display: flex;
    min-width: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

 .email-desc {
    font-size: 1.2em;
    font-weight:500;
    padding-bottom: 1em;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-icons a{
    margin-right: 10px;
}
@media only screen and (min-width: 767px) {

    .thumbnail-grid {    
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    
    }
}

@media only screen and (min-width: 1050px) {

    

    .nav-container {
        display: grid;
        grid-template-columns: 100% auto;
        background: unset;
    }

    .nav-container nav {
        display: block;
    }

    header nav {
        display: block;
    }

    .thumbnail-grid-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: none;
        flex-direction: row;
        
        
    }

    .thumbnail-grid a {
        width: 50%;
    }



    
}

